[proxy]
bind = "0.0.0.0"
port = 8181

[policy]
url = 'http://localhost:8080/policy/proxy/context'
default = "deny"

[repositories.crates-io]
type = "crates"
url = "https://github.com/rust-lang/crates.io-index"
periodic_update = 3600

[repositories.sparse-crates-io]
type = "sparse-crates"
url = "https://index.crates.io"

[repositories.m2]
type = "m2"
url = "https://repo.maven.apache.org/maven2"
